{% if _ro.body %}
    <table class="table">
        <tbody>
        {% for row in _ro.body %}
            <tr>
                <td><a href="/tickets/{{ row.id }}">{{ row.title }}</a></td>
                <td>{{ row.description }}</td>
                <td>{{ row.created|date("Y/m/d H:i:s") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No Tickets</p>
{% endif %}